a {
    color: black;
    text-decoration: none;
}

a {
    border: 0px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    cursor: pointer;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .2s;
  }
  a img {
    width: 20px;
  }
  a p {
    font-size: 0.8rem;
  }
  a:hover {
    background-color: rgba(0,0,0,0.06);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .2s;
    
  }
  