---
import Layout from "@/components/Layout.astro";
import LoginForm from "@/components/LoginForm.astro";
import { getSession } from "@/lib/helpers";
const { redirect } = Astro;

const session = await getSession()

if (session) {
  return redirect("/");
}
---

<Layout hideNav={true} title="Story Blend AI - Login">
  <div class="content">    
    <LoginForm></LoginForm>
  </div>
</Layout>

<style>
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
  }
</style>