---
import { type IUserModel } from "@/interfaces/user.interface";
import Link from "./Link.astro";
interface Props {
  user?: IUserModel;
}
const { user } = Astro.props;
---

<div class="user">
  {
    user ? (
      <>
        <img src={user.photoUser} alt={user.fullName} />
        <div class="circle" />
      </>
    ) : (
      <Link href="/login" text="Login" />
    )
  }
</div>

<style>
  .user img {
    height: 33px;
    border-radius: 50%;
  }
  .user {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    position: relative;
  }
  .circle {
    width: 10px;
    height: 10px;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    bottom: -1px;
    right: -1px;
  }
</style>
