---
interface Props {
    depth: 4 | 8 | 16 | 64
    isBackground?: boolean
}
const {depth, isBackground = true} = Astro.props

---
<div class=`${isBackground ? 'card': 'cardNoBackdground'} ms-depth-${depth}`>
    <slot>
</div>

<style>
    .card{
        background-color: white;
        padding: 10px;
        border-radius: 10px;    
    }
    .cardNoBackdground{
        padding: 10px;
        border-radius: 10px; 
    }
</style>